/**************************/
/*      SOFTWAYR CSS      */
/*    softwayr.com/css    */
/**************************/

/* FONTS */
/* Sans Serif */
.softwayr-sans-serif { font-family: sans-serif; }
/* Serif */
.softwayr-serif      { font-family: serif; }
/* Monospaced */
.softwayr-monospaced { font-family: monospaced; }


/* TEXT SIZES */
/* Small */
.softwayr-small    { font-size: 14px; line-height: 0.6; }
.softwayr-normal   { font-size: 16px; line-height: 0.6; }
.softwayr-large    { font-size: 20px; line-height: 0.6; }
.softwayr-xlarge   { font-size: 25px; line-height: 0.4; }
.softwayr-xxlarge  { font-size: 30px; line-height: 0.4; }
.softwayr-xxxlarge { font-size: 40px; line-height: 0.4; }
.softwayr-jumbo    { font-size: 50px; line-height: 0.4; }